<ul class="days_view">
    {% for i in range(0, 2) %}
    <li id="day_{{i}}" class="day">
        <div class="date"></div>

        <div>
            <div class="grid">
                {% for j in range(0, 23) %}
                    <div class="row">{{j}}</div>
                {% endfor %}
                <ul class="tasks scheduled"></ul>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
