{% extends "AcmeManagerBundle::layout.html.twig" %}

{% block menu %}
    {% set active = 'calendar' %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/calendar.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/data.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        var today = new Date();
        
        var from = Manager.Calendar.plusDays(today, -1);
        var to = Manager.Calendar.plusDays(today, 1);

        var range = {'from': Manager.Calendar.formatDate(from), 'to': Manager.Calendar.formatDate(to)};
        Manager.Data.jsonLoad('calendar_data', range);

        Manager.Calendar.start({
            container: '#days',
            view: 'days',
            range: {'from': from, 'to': to}
        });

        $('body').bind('Manager.Data:jsonloaded', function(event, data) {
            Manager.Calendar.view.update(data);
        });
        
    });

</script>
{% endblock %}

{% block content %}

<h1 id="calendar-header">Calendar</h1>

<a href="" class="button" id="calendar-save">Save data</a>
<a href="#" class="button next">></a>
<a href="#" class="button prev"><</a>

<div class="head">

</div>

<div class="sidebar">

    <div class="add-task">
            <input type="text" class="input" value="New task..." id="add-task-description" />
            <a href="#" class="button" id="add-task-button">+</a>
    </div>
    <ul class="tasks unassigned"></ul>
    <div class="remove-task">
        Drop a task here to delete
    </div>
</div>

<div id="days">
    {% include "AcmeManagerBundle:Calendar:days.html.twig" %}
</div>

{% endblock %}
