{% extends "AcmeManagerBundle::layout.html.twig" %}

{% block menu %}
{% set active = 'wallet' %}
{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/wallet.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/data.js') }}" type="text/javascript"></script>

<script type="text/javascript">
    $(function() {

        Manager.Wallet.start({
            container: '#wallet',
            view: 'default'
        });

        Manager.Data.jsonLoad('Wallet', 'transactions_data', {});

        $('body').bind('Manager.Wallet:jsonLoaded', function(event, data) {
            Manager.Wallet.view.update(data);
        });

    });

</script>
{% endblock %}

{% block content %}
<h1 id="wallet-header">Wallet</h1>
<a href="#" class="button" id="wallet-save">Save data</a>

<div class="head">

</div>
<div id="transactions-list">
    <div class="add-transaction">
        <input type="text" class="input" value="New transaction description..." id="add-transaction-description"/>
        <input type="text" class="input" value="Value..." id="add-transaction-value"/>

        <a href="#" class="button" id="add-transaction-button">+</a>
    </div>

    <ul class="transactions">

    </ul>
</div>

{% endblock %}
