{% extends "AcmeManagerBundle::layout.html.twig" %}

{% block menu %}
{% set active = 'wallet' %}
{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}

{% endblock %}

{% block content %}
<h1 id="wallet-header">Wallet</h1>
<a href="#" class="button" id="calendar-save">Save data</a>

<div class="head">

</div>

<div class="sidebar">
    <div class="add-category">
        <input type="text" class="input" value="New category..." id="add-category-name"/>
        <a href="#" class="button" id="add-category-button">+</a>
    </div>

    <div class="remove-category">
        Drop a category here to delete
    </div>
</div>

<div id="transactions-list">
    <div class="add-transaction">
        <input type="text" class="input" value="New transaction description..." id="add-transaction-description"/>
        <input type="text" class="input" value="Value..." id="add-transaction-value"/>

        <a href="#" class="button" id="add-transaction-button">+</a>
    </div>

    {% include "AcmeManagerBundle:Wallet:transactions.html.twig" %}

    <div class="remove-transaction">
        Drop a transaction here to delete
    </div>
</div>

{% endblock %}
