<ul class="transactions">
    <li class="income">
        <span class="description">Payment</span>
        <span class="balance">1200$</span>
        <span class="value">+ 1000$</span>

    </li>
    <li class="outcome">
        <span class="description">Shopping in Biedronka</span>
        <span class="balance">1100$</span>
        <span class="value">- 56.12$</span>
    </li>
</ul>
