<ul class="transactions">
    <li class="income">
        <span class="description">Payment</span>
        <span class="balance">1200.00$</span>
        <span class="value">+ 1000.00$</span>

    </li>
    <li class="outcome">
        <span class="description">Shopping in Biedronka</span>
        <span class="balance">1100.00$</span>
        <span class="value">- 100.00$</span>
    </li>
</ul>
